{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/reviews.min.css') }}">
{% endblock css %}

{% block content %}
    <div class="container">
        {% for request in requests %}
            {% if request.getAction() == 'add' %}
                <div class="row center">
                    <h3>ADD NEW MOVIE</h3>
                    <h5>{{ request.movieSubmission.title }}</h5>
                    <h5>{{ request.movieSubmission.year }}</h5>
                    <h5>{{ request.movieSubmission.langs|map(o => o.name)|join(', ') }}</h5>
                    <h5>{{ request.movieSubmission.countries|map(o => o.name)|join(', ') }}</h5>
                    <h5>{{ request.movieSubmission.genres|map(o => o.name)|join(', ') }}</h5>
                    <h5>{{ request.movieSubmission.cast|map(o => "#{o.name} #{o.surname}")|join(', ') }}</h5>
                </div>
            {% endif %}
            {% if request.getAction() == 'edit' %}
                <div class="row center">
                    <h3>EDIT MOVIE</h3>
                    <h4>OLD MOVIE</h4>
                    <h5>{{ request.currentMovie.title }}</h5>
                    <h5>{{ request.currentMovie.year }}</h5>
                    <h5>{{ request.currentMovie.langs|map(o => o.name)|join(', ') }}</h5>
                    <h5>{{ request.currentMovie.countries|map(o => o.name)|join(', ') }}</h5>
                    <h5>{{ request.currentMovie.genres|map(o => o.name)|join(', ') }}</h5>
                    <h5>{{ request.currentMovie.cast|map(o => "#{o.name} #{o.surname}")|join(', ') }}</h5>
                    <h4>NEW MOVIE</h4>
                    <h5>{{ request.movieSubmission.title }}</h5>
                    <h5>{{ request.movieSubmission.year }}</h5>
                    <h5>{{ request.movieSubmission.langs|map(o => o.name)|join(', ') }}</h5>
                    <h5>{{ request.movieSubmission.countries|map(o => o.name)|join(', ') }}</h5>
                    <h5>{{ request.movieSubmission.genres|map(o => o.name)|join(', ') }}</h5>
                    <h5>{{ request.movieSubmission.cast|map(o => "#{o.name} #{o.surname}")|join(', ') }}</h5>
                </div>
            {% endif %}
            {% if request.getAction() == 'remove' %}
                <div class="row center">
                    <h3>REMOVE MOVIE</h3>
                    <h5>{{ request.currentMovie.title }}</h5>
                    <h5>{{ request.currentMovie.year }}</h5>
                    <h5>{{ request.currentMovie.langs|map(o => o.name)|join(', ') }}</h5>
                    <h5>{{ request.currentMovie.countries|map(o => o.name)|join(', ') }}</h5>
                    <h5>{{ request.currentMovie.genres|map(o => o.name)|join(', ') }}</h5>
                    <h5>{{ request.currentMovie.cast|map(o => "#{o.name} #{o.surname}")|join(', ') }}</h5>
                </div>
            {% endif %}
            <div class="row center">
                <a href="{{ path('_request_movie_accept', {id: request.getId()}) }}">
                    <button id="btnAcc" class="btn btn-lg btn-primary" type="submit">Approve</button>
                </a>
                <a href="{{ path('_request_movie_decline',{id: request.getId()}) }}">
                    <button id="btnDel" class="btn btn-lg btn-primary" type="submit">Decline</button>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
