{% extends 'base.html.twig' %}
{% form_theme form 'form/as_theme.html.twig' %}

{% block content %}
    <div class="container">
        <div class="section no-pad-bot">
            <div class="row center">
                <h5>
                    {{ movie.title }} reviews
                </h5>
            </div>
            <div class="row">
                {% if not reviews|filter(r => r.isAccepted and r.title) %}
                    <div class="col s12 center">
                        <h6>No reviews available</h6>
                    </div>
                {% else %}
                    <div class="col s8 offset-s2">
                        <ul class="collection">
                            {% for review in reviews %}
                                {% if review.isAccepted and review.title %}
                                    <li class="collection-item">
                                        <div>
                                            Posted by: {{ review.user.name }} on {{ review.created|date }}<br/>
                                            Rating: {{ review.rating }}<br/>
                                            Title: {{ review.title }}
                                        </div>
                                        <br/>
                                        <div>
                                            {{ review.content }}
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            {% if app.user and canPost %}
                <div class="row">
                    <div class="col s12">
                        <h6 class="h3 center mb-3 font-weight-normal">
                            Post a review
                        </h6>
                    </div>
                    {{ form_start(form, {'attr': {'class': 'col s8 offset-s2'}}) }}
                    <div class="row">
                        {{ form_widget(form, {'attr': {'class': 'col s12'}}) }}
                        <div class="col s12">
                            <button class="btn btn-lg btn-primary" type="submit">
                                Add comment
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
